<!DOCTYPE html>
<html>
    <head>
        
        
        <title>Welcome AI</title>
        <style type="text/css">
            body {
              color: 000000;
              background-color: #C0C0C0 }
            </style>
     
    </head>
    <body>
      <h3>Welcome AI</h3>  
    </body>
    <form>
        <h4>Profil</h4>
        <input type="checkbox" id="name" name="Thamer">
        <label for="name"> Thamer</label><br>
        <input type="checkbox" id="name2" name="Bassem" >
        <label for="name2"> Bassem</label><br>
        <input type="checkbox" id="name3" name="Bilel">
        <label for="name3"> Bilel</label>
        <p style="color:#FF0000";>Input</p>
        <label for="fname">Text Name:</label><br>
        <textarea name="message" rows="2" cols="50"></textarea><br>
        <label for="fname">Link Test:</label><br>
        <textarea name="message" rows="2" cols="50"></textarea><br>
        <label for="fname">Description:</label><br>
        <textarea name="message" rows="5" cols="50"></textarea><br>
        <label for="fname"><h4>Main Subject:</h4> </label>
        <input type="checkbox" id="subj" name="subj">
        <label for="subj"> Text</label><br>
        <input type="checkbox" id="subj2" name="subj2">
        <label for="subj2">Images Prediction</label><br>
        <input type="checkbox" id="subj3" name="subj3" >
        <label for="subj3"> Audio / Videos  </label><br>
        <input type="checkbox" id="subj4" name="subj4">
        <label for="subj4"> Data Analysis</label><br>
        <input type="checkbox" id="subj5" name="subj5">
        <label for="subj5"> ChatBot</label>
        <label for="fname"><h4>Framework:</h4></label>
        <input type="checkbox" id="fram" name="fram">
        <label for="fram"> Tensor Flow/ Keras</label><br>
        <input type="checkbox" id="fram1" name="fram1">
        <label for="fram1">Pytorch</label><br>
        <input type="checkbox" id="fram2" name="fram2" >
        <label for="fram2">Caffe </label><br>
        <input type="checkbox" id="fram3" name="fram3">
        <label for="fram3"> Mxnet</label><br>
        <input type="checkbox" id="fram4" name="fram4">
        <label for="fram4"> Others...</label>
        <label for="fname"><h4>Type of Test:</h4></label>
        <input type="checkbox" id="type" name="type">
        <label for="type">Article</label><br>
        <input type="checkbox" id="type1" name="type1">
        <label for="type1">Paper+Code</label><br>
        <input type="checkbox" id="type2" name="type2" >
        <label for="type2">Repository (Github,...) </label><br>
        <label for="fname"><h4>Environnement: </h4></label>
        <input type="checkbox" id="env" name="env">
        <label for="env"></label>Windows<br>
        <input type="checkbox" id="env1" name="env1">
        <label for="env1">Linux </label><br>
        <input type="checkbox" id="env2" name="env2" >
        <label for="env2">MacOS </label><br>
        <input type="checkbox" id="env3" name="env3" >
        <label for="env3">Linux & Windows </label><br>
        <label for="fname"><h4>Technologies: </h4></label>
        <input type="checkbox" id="tech" name="tech">
        <label for="tech"></label>Python<br>
        <input type="checkbox" id="tech1" name="tech1">
        <label for="tech1">Javascript/Node Js </label><br>
        <input type="checkbox" id="tech2" name="tech2" >
        <label for="tech2">Shell </label><br>
        <input type="checkbox" id="tech3" name="tech3" >
        <label for="tech3">Others: … </label><br>
        <label for="fname"><h4>Installation: </h4></label>
        <input type="checkbox" id="inst" name="inst">
        <label for="inst"></label>Docker<br>
        <textarea name="message" placeholder="(Command to Build a docker image:)" rows="5" cols="50"></textarea><br>
        <input type="checkbox" id="inst1" name="inst1">
        <label for="inst"></label>Local Setup<br>
        <textarea name="message"  placeholder="Dependencies: (Python’s version, Libraries used, Conda Environment...)"rows="5" cols="50"></textarea><br>
        <label for="inst"></label><h4>Generate Dockerfile:</h4> <br>
        <textarea name="message" placeholder="Command to Build a docker image: "rows="5" cols="50"></textarea><br>
        <p style="color:#FF0000";>Output</p>
        <label for="fname"><h4>Details usage :  </h4></label>
        <input type="checkbox" id="inst" name="inst">
        <label for="inst"></label>Pre-Trained model: <br>
        <textarea name="message" placeholder="Code,Results "rows="5" cols="50"></textarea><br>
        <input type="checkbox" id="inst1" name="inst1">
        <label for="inst"></label>Train Model: <br>
        <textarea name="message" placeholder="Datasets,Code, Results" rows="5" cols="50"></textarea><br>
        <label for="inst"></label><h4>Resources required:</h4> <br>
        <textarea name="message" placeholder="Hardware +Software" rows="5" cols="50"></textarea><br>
        <label for="fname"><h4>IDE Used</h4></label>
        <input type="checkbox" id="fram" name="fram">
        <label for="fram"> Vscode</label><br>
        <input type="checkbox" id="fram1" name="fram1">
        <label for="fram1">Pycharm</label><br>
        <input type="checkbox" id="fram2" name="fram2" >
        <label for="fram2">Notebook Google Collab </label><br>
        <input type="checkbox" id="fram4" name="fram4">
        <label for="fram4"> Others...</label>
        <label for="fname"><h4>Required Time ( Hour) : </h4></label><br>
        <input type="number" id="quantity" name="quantity" size="2" min="1"  value="0" >
        <label for="lname"> <h4> Notes + Errors:</h4></label><br>
        <textarea name="message"rows="5" cols="50"></textarea><br>
        <label for="lname"><h4>If the test was an Article / Paper: </h4></label><br>
        <textarea name="message" placeholder="Summary" rows="5" cols="50"></textarea><br>
        <button type="button">Add Test</button>
        <button type="button">Add Test</button>
      </form>
</html>